#chat-screen {
  background-color: #feeaff;
  height: 500vh;
}

.chat-status,
.chat-header {
  background-color: #feeaff;
  z-index: 1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(30px);
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 115px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes fadeInTime {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.chat-timestamp {
  animation: fadeInTime 0.8s linear;
  color: white;
  background-color: #bababab3;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 23px;
  margin-bottom: 30px;
}

@keyframes fadeInHi {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    transform: none;
    opacity: 1;
  }
}

.message-hi {
  animation: fadeInHi 0.8s linear;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 10px;
}

.meassage__author {
  opacity: 0.75;
  font-size: 16px;
  margin-bottom: 5px;
  display: block;
}
.message__bubble {
  background-color: white;
  padding: 10px 12px;
  border-radius: 13px;
  border-top-left-radius: 0px;
  font-size: 18px;
  margin-right: 5px;
}
.message__time {
  opacity: 0.75;
  font-size: 12px;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message-row--own {
  display: flex;
  justify-content: flex-end;
  animation: fadeIn 0.8s linear;
}

.message-row--own .message__bubble {
  background-color: var(--pink);
  border-top-right-radius: 0px;
  border-top-left-radius: 13px;
  margin-left: 5px;
  margin-right: 0px;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  height: 35px;
  padding: 5px 0px 5px 13px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  font-size: 17px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -10px;
  top: 4.5px;
  font-size: 15px;
}
.reply__column:last-child > i {
  right: 33px;
  top: 21px;
  margin-right: 8px;
  font-size: 30px;
}

.reply__column i {
  opacity: 0.6;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button {
  background-color: var(--pink);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply input:focus {
  width: 93vw;
  transform: translateX(-11%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
