#friends-display-link {
  display: block;
  text-align: center;
  padding: 13px 0px;
  margin-top: 100px;
  width: 100%;
  background-color: #fafafa;
  margin-bottom: 10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.3);
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--pink);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 132px;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1s;
}

#splash-screen img {
  width: 130px;
}

.friends-list {
  padding: 7px 0px;
}

.brother {
  padding-bottom: 70px;
}

.channel-profile {
  width: 92px;
  background-color: var(--pink);
  justify-content: center;
  align-items: center;
  display: flex;
}

.fa-comment-dots {
  color: rgba(0, 0, 0, 0.6);
  font-size: 35px;
}
