.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
  width: 100%;
}

.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}
.user-component__title {
  font-weight: 600;
  font-size: 18px;
}

.user-component__subtitle {
  margin-top: 9px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}
.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 20px;
}
.user-component__column span {
  margin-right: 4px;
}
.user-component__column:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.3);
  font-weight: 300;
}

.user-component__title--not-bold {
  font-weight: 400;
}

.friends-screen_channel {
  margin-top: 25px;
  border-top: 0.5px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}
.friends-screen_channel-header {
  margin-bottom: 18px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.4);
}

.user-component__time {
  padding-bottom: 10px;
}

.user-component__text {
  width: 100%;
}

.user-component__group {
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin: 0px 3px;
}

.group {
  margin-right: 20px;
}

.group div:nth-child(2) {
  margin-top: 3px;
}
